<ion-header>
  <ion-toolbar>
    <ion-title>delete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-title>Confirm delete Todo: </ion-title>
    <ion-card>
        <ion-card-header>
          <ion-card-title>{{todo.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{todo.body}}
        </ion-card-content>
    </ion-card>
    <ion-button color="dark" expand="block" (click)="delete()">Eliminar</ion-button>
</ion-content>
