<ion-header>
  <ion-toolbar>
    <ion-title>list todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
          <ion-label>Select Users : </ion-label>
          <ion-select interface="popover" (ionChange)="buscar()" [(ngModel)]="selectUser">
            <ion-select-option *ngFor="let user of users"  [value]="user">{{user.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngFor="let item of (results)" > 
          <ion-label text-wrap>
            <h2>{{ item.title }}</h2>
            <p>{{ item.body }}</p>
            <p>      
              <ion-button color='dark' size="small" [routerLink]="['/', 'view', item.id]">
                <ion-icon slot="start" name="eye" ></ion-icon>
                View
              </ion-button>
              <ion-button color="dark" size="small" [routerLink]="['/', 'edit', item.id]">
                <ion-icon slot="start" name="create" ></ion-icon>
                Edit
              </ion-button>
              <ion-button color="dark" size="small" [routerLink]="['/', 'delete', item.id]">
                  <ion-icon slot="start" name="trash" ></ion-icon>
                  Delete
              </ion-button>
            </p>
          </ion-label>
     
        </ion-item>
     
      </ion-list>
</ion-content>
