<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>edit : {{titleAux}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
      <ion-item-group>
        <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-textarea [(ngModel)]="todo.title" rows="4">
            </ion-textarea>
        </ion-item>    
        <ion-item>
          <ion-label position="stacked">Body</ion-label>
          <ion-textarea [(ngModel)]="todo.body" rows="8">
          </ion-textarea>
        </ion-item>
    </ion-item-group>
    
    <ion-button expand="block" (click)="save()">
        SAVE
      </ion-button>
      <section></section>

</ion-content>
