<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ todo.title }}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-title>Todo: </ion-title>
    <ion-card>
        <ion-card-header>
          <ion-card-title>{{todo.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{todo.body}}
        </ion-card-content>
    </ion-card>
    <ion-title>Comments: </ion-title>
    <ion-list>
        <ion-item button *ngFor="let item of (coments)"> 
          <ion-label text-wrap>
            <h2>{{ item.name }}</h2>
            <p>{{ item.body }}</p>
            <p text-right>{{item.email}}</p>
          </ion-label>
     
        </ion-item>
      </ion-list>
      
</ion-content>
